.button{
    height: 50px;
    margin: 5px 0;

    border: none;
    border-radius: 50px;
    
    background-color: gray;
    color: white;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 250px;
    width: 250px;
    border-radius: 8px;
    margin: 50px;

    border: 2px solid #808080;
    box-sizing: border-box;

    background-color: #24272c;
}

.card:hover{
    background-color: #808080;
}

.number{
    font-size: 60px;
    animation: changeColor 2s infinite;
}

.button:hover{
    background-color: white;
    color: black;
}

@keyframes changeColor {
    0%{
        color: #ffffff ;
    }

    50%{
        color: #c20606
    }

    100%{
        color: #ffffff
    }
}