.button{
    height: 50px;
    margin: 5px 0;

    border: none;
    border-radius: 50px;
    
    background-color: gray;
    color: white;
}

.card{
    align-items: center;
    background-color: #24272c;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    height: 250px;
    justify-content: center;
    margin: 50px;
    width: 250px;
    border-bottom: 20px solid;
    border-top: 2px solid;
    transform: rotate3d(100, 100, 10, 29deg);
    box-shadow: inset -1px -2px 8px 0px white;
}

.card:hover{
    background-color: #808080;
}

.number{
    font-size: 60px;
    animation: changeColor 2s infinite;
}

.button:hover{
    background-color: white;
    color: black;
}

@keyframes changeColor {
    0%{
        color: #ffffff ;
    }

    50%{
        color: #c20606
    }

    100%{
        color: #ffffff
    }
}